<div id="tool-preparation" class="tool" ng-controller="PreparationCtrl">
    <div class="tool-left">
        <h4>Tools</h4>
        <div class="list-group">
            <a ng-click="selectTool('factory')" href="" class="list-group-item" ng-class="{true:'active'}[currentTool == 'factory']">
                <h5 class="list-group-item-heading"><strong>Layer Factory</strong></h5>
            </a>
            <a ng-click="selectTool('manipulate')" href="" class="list-group-item" ng-class="{true:'active'}[currentTool == 'manipulate']">
                <h5 class="list-group-item-heading"><strong>Manipulate Layer</strong></h5>
            </a>
            <a ng-click="selectTool('analyze')" href="" class="list-group-item" ng-class="{true:'active'}[currentTool == 'analyze']">
                <h5 class="list-group-item-heading"><strong>Analyze Layer</strong></h5>
            </a>
        </div>
    </div>
    <div class="tool-right" ng-include="preparationTool"></div>
</div>