<div ng-switch on="type" class="layer-icon">
    <span ng-switch-when="point" class="glyphicon glyphicon-map-marker" title="Point Layer"></span>
    <span ng-switch-when="line" class="glyphicon glyphicon-ok" title="Line Layer"></span>
    <span ng-switch-when="polygon" class="glyphicon glyphicon-unchecked" title="Polygon Layer"></span>
    <span ng-switch-when="raster" class="glyphicon glyphicon-th" title="Raster Layer"></span>
    <span ng-switch-when="attribute" class="glyphicon glyphicon-th-list" title="Attribute Layer"></span>
</div>