<div ng-controller="SymbologyPolygonCtrl" id="symbology-polygon">
    <h4>Polygon Symbology</h4>

    <div class="style-select">
        <h6><strong>Symbology Group</strong></h6>
        <div>
            <input id="groupSymbology" style="width:100%" ng-model="groupSymbology" ui-select2="selectOptionsGroupSymbology" data-placeholder="Select Symbology Group">
        </div>
        <h6><strong>Polygon Symbology</strong></h6>
        <div>
            <input id="polygonSymbology" style="width:100%" ng-model="polygonSymbology" ui-select2="selectOptionsPolygonSymbology" data-placeholder="Select Polygon Symbology">
        </div>


        <div class="color-scheme" ng-show="currentStyle">
            <div class="color-scheme-element" ng-repeat="colorValues in currentStyle.variableSymbology[0].styles" ng-style="{'background-color':'{{colorValues['polygon-fill']}}'}"></div>
        </div>
    </div>

    <div class="layer-select" ng-show="currentStyle">
        <h6><strong>Select Layer</strong></h6>
        <div>
            <input style="width:100%" ng-model="layer" ui-select2="selectOptionsLayer" data-placeholder="Select Layer">
        </div>
        <h6><strong>Select Column</strong></h6>
        <div ng-hide="columnList.length == 0">
            <input id="columnInput" style="width:100%" ng-model="column" ui-select2="selectOptionsColumn" data-placeholder="Select Column">
        </div>
    </div>

    <button ng-hide="!column" ng-click="applySymbology()" type="button" class="btn">Apply Symbology</button>

</div>